<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ $title := delimit (slice .Title "&middot;" .Site.Title) " " }}
  <title>{{ $title }}</title>
  <meta charset="utf-8">
  <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .Params.noindex }}
  <meta name="robots" content="noindex"> 
  {{ end }}
</head>
<body>
    <header>
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    </header>

    {{ partial "menu" . }}
    
    {{ block "main" . }}

    {{ end }}

    <footer>
    {{ block "footer" . }}
      © {{ now.Year }} bremen-ohne-bargeld.de

      {{ partial "secondary_menu" . }}
    {{ end }}
    </footer>

</body>
</html>
