<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "cookie-consent" . }}
  
  {{ $title := delimit (slice .Title "&middot;" .Site.Title) " " }}
  {{ if eq .Kind "home" }}
  {{ $title =  delimit (slice .Site.Title .Site.Params.Claim) " – " }}
  {{ end }}
  <title>{{ $title }}</title>
  <meta name=apple-mobile-web-app-title content="{{ .Site.Params.short_title }}">

  <meta charset="utf-8">
  {{ $style := resources.Get "style.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .Params.noindex }}
  <meta name="robots" content="noindex"> 
  {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ $description := "" }}
  {{ if .Description }}
    {{ $description = .Description }}
  {{ else if eq .Type "place" }}
    {{ $description = (print "Finde heraus, ob du bei " .Title " in Bremen mit Karte zahlen kannst.") }}
  {{ end }}

  <meta name="description" content="{{ $description }}">
  {{ .Site.Data.faviconData.favicon.html_code | safeHTML }}

  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:description" content="{{ $description }}">
  <meta property="og:title" content="{{ $title }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}bremen-ohne-bargeld-logo_opengraph.png">

  {{ partial "analytics" . }}
</head>
<body>
    <header>
      <a class="logo" href="{{ .Site.BaseURL }}">
        <img alt="Kreditkarte mit Speckflagge" src="{{ .Site.BaseURL }}bremen-ohne-bargeld-logo.png">
        <span class="site-title">{{ .Site.Title }}</span>
      </a>

      {{ partial "menu" . }}
    </header>

    
    <div class="page kind-{{ .Kind }}">
    {{ block "main" . }}

    {{ end }}
    </div>

    <footer>
    {{ block "footer" . }}
    {{ partial "secondary_menu" . }}

    <div class="site-info">
      <div class="last-update">Letzte Änderung: {{ now.Format "2006-01-02T15:04:05Z0700" }}</div>
    </div>

    {{ end }}
    </footer>

</body>
</html>
