{{ define "main" }}
  <h1>{{.Title}} in Bremen</h1>

  {{ if eq .Params.payment_status 0 }}
  {{ .Scratch.Set "payment_status_title" "Hier kannst du leider nicht mit Karte zahlen." }}
  {{ else if eq .Params.payment_status 1 }}
    {{ .Scratch.Set "payment_status_title" "Hier ist Kartenzahlung mit Einschränkungen möglich. Bitte beachte die unten stehenden Hinweise." }}
  {{ else if eq .Params.payment_status 2 }}
    {{ .Scratch.Set "payment_status_title" "Hier kannst du problemslos mit Karte zahlen." }}
  {{ else }}
    {{ .Scratch.Set "payment_status_title" "Es liegen leider keine Informationen dazu vor, ob hier mit Karte bezahlt werden kann." }}
  {{ end }}

  <div class="payment-status-text payment-status-{{ .Params.payment_status }}">
    {{ .Scratch.Get "payment_status_title" }}
  </div>

  {{ if .Content }}
  
    <h2>Hinweise</h2>
    {{.Content}}

  {{ end }}

  {{ if .Params.place_id }}
    <div class="google-maps-container">
      <iframe loading="lazy" allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key={{ .Site.Params.google_maps_api_key }}&q=place_id:{{ .Params.place_id }}">
      </iframe>
    </div>
  {{ end }}

  <div class="last-update">
    <p>Dieser Eintrag wurde zuletzt am {{ .Lastmod.Format "02.01.2006" }} aktualisiert.</p>
    <p>Stimmt etwas nicht? <a href="{{ with .Site.GetPage "page" "fehler_melden" }}{{ .RelPermalink }}{{ end }}">
      Hier erfährst du, wie du fehlerhafte Einträge melden kannst.</a></p>
  </div>

{{ end }}
