{{ define "main" }}
  <h1>{{.Title}} in Bremen</h1>

  {{ if eq .Params.payment_status 0 }}
  {{ .Scratch.Set "payment_status_title" "Hier kann leider nicht mit Karte bezahlt werden." }}
  {{ else if eq .Params.payment_status 1 }}
    {{ .Scratch.Set "payment_status_title" "Hier ist Kartenzahlung mit Einschränkungen möglich (Hinweise beachten)." }}
  {{ else if eq .Params.payment_status 2 }}
    {{ .Scratch.Set "payment_status_title" "Hier kann problemslos mit Karte bezahlt werden." }}
  {{ else }}
    {{ .Scratch.Set "payment_status_title" "Es liegen leider keine Informationen dazu vor, ob hier mit Karte bezahlt werden kann." }}
  {{ end }}

  <div class="payment-status-text payment-status-{{ .Params.payment_status }}">
    {{ .Scratch.Get "payment_status_title" }}
  </div>

  {{ if .Content }}
  
    <h2>Hinweise</h2>
    {{.Content}}

  {{ end }}

  {{ if .Params.place_id }}
    <div class="google-maps-container">
      <iframe loading="lazy" allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?key={{ .Site.Params.google_maps_api_key }}&q=place_id:{{ .Params.place_id }}">
      </iframe>
    </div>
  {{ end }}

{{ end }}
