.page {

    h1 {
        line-height: 120%;
    }

    h2 {
        margin-top: 40px;
    }

    h3 {
        margin-top: 30px;
    }

    a {
        text-decoration: underline;
        color: #39f;
    }

    li {
        margin: 6px 0 6px 28px;
    }

    .highlight {
        padding: 10px 20px;
        border-radius: 5px;

        p {
            margin: 10px 0;
        }

        background-color: #f0a795;
    }

}
