$default-text-color: #222;

@import "normalize";
@import "mixins";
@import "content";
@import "sticky-footer";
@import "place";
@import "recent";

body {
    font-family: system-ui;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: $default-text-color;
}

header {
    text-align: center;
    margin: 20px;
    
    .logo {
        display: inline-block;
        padding: 10px;
        font-size: 24px;

        img, .site-title {
            display: block;
            margin: auto;
        }

        img {
            width: 72px;
            height: 72px;
            margin-bottom: 12px;
        }
    }

    nav {
        margin: 10px 0;
        position: relative;

        ul {
            line-height: 40px;
            white-space: nowrap;
            overflow: auto;
            -webkit-overflow-scrolling: touch;

            li {
                display: inline-block;
                margin: 0 10px;

                &:first-of-type {
                    margin-left: 0;
                }
    
                &:last-of-type {
                    margin-right: 0;
                }
            }

        }

        &:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 80px;
            pointer-events: none;
			background-image: linear-gradient(to right, rgba(#fff, 0), #fff);
		}
    }
}

a {
    color: $default-text-color;
    text-decoration: none;

    transition: opacity 0.25s;

    &:hover {
        opacity: .7;
    }
}

.page {
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
    line-height: 1.5em;
    padding: 20px;
    overflow-wrap: break-word;
    box-sizing: border-box;

    &.kind-home {
        text-align: center;

        h2 {
            margin-top: 80px;
        }
    }
}

ul, li {
    margin: 0;
    padding: 0;
}

.places {
    list-style-type: none;
    
    a {
        text-decoration: none;
        color: $default-text-color;
    }
}

.payment-status {

    display: block;
    line-height: 30px;

    &::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        position: relative;
        top: -2px;
        margin-right: 4px;
        border-radius: 4px;
        background-color: #999;
    }

    &.payment-status-0 {
        text-decoration: line-through;
    }

    &.payment-status-0:before { background-color: #EC4E27; }
    &.payment-status-1:before { background-color: #F6C744; }
    &.payment-status-2:before { background-color: #9BD851; }   
 }

 footer {
    text-align: center;
    font-size: 0.8rem;
    margin: 40px 20px 0 20px;
    padding: 40px 0;

    nav {
        margin: 20px 0;
        line-height: 250%;

        li {
            display: inline-block;
            margin: 0 10px;
        }
    }

    .site-info {
        color: #999;
        margin: 16px 0;

        > div {
            margin: 12px 0;
        }
    }
 }
