@import "normalize";
@import "sticky-footer";
@import "place";

$default-text-color: #222;

body {
    font-family: system-ui;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: $default-text-color;
}

header {
    text-align: center;
    margin: 40px;
    
    .site-title {
        padding: 20px;
        font-size: 24px;
    }

    nav {
        margin: 20px 0;

        li {
            display: inline-block;
            margin: 0 10px;
        }
    }
}

a {
    color: $default-text-color;
    text-decoration: none;

    &:hover {
        opacity: .7;
    }
}

.page {
    margin: 40px auto;
    width: 100%;
    max-width: 800px;
    line-height: 1.5em;
    padding: 20px;
    overflow-wrap: break-word;
    box-sizing: border-box;

    h1 {
        line-height: 120%;
    }

    a {
        text-decoration: underline;
        color: #39f;
    }
}

ul, li {
    margin: 0;
    padding: 0;
}

.places {
    list-style-type: none;
    
    a {
        text-decoration: none;
        color: $default-text-color;
    }
}

.payment-status {

    display: block;
    line-height: 30px;

    &::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        position: relative;
        top: -2px;
        margin-right: 4px;
        border-radius: 4px;
        background-color: #999;
    }

    &.payment-status-0:before { background-color: #EC4E27; }
    &.payment-status-1:before { background-color: #F6C744; }
    &.payment-status-2:before { background-color: #9BD851; }   
 }

 footer {
    text-align: center;
    font-size: 0.8rem;
    margin: 40px 20px 0 20px;
    padding: 40px 0;
    border-top: 1px solid #ccc;

    nav {
        margin: 20px 0;
        line-height: 250%;

        li {
            display: inline-block;
            margin: 0 10px;
        }
    }

    .site-info {
        color: #999;
        margin: 16px 0;

        > div {
            margin: 12px 0;
        }
    }
 }
